.project-selector {
  background: $white;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid $black;
}
.project-selector input,
.project-selector button {
  width: 100%;
}
.project-selector input[type="text"],
.project-selector button[type="text"] {
  text-align: center;
  font-size: 3rem;
}

.project-list {
  background: $white;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid $black;
  li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    margin-bottom: 5px;
  }
}
